/* header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #eaeceb;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
} */
/* header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
} */
/* header .logo img {
 width: 184px;
 height: 60px;
}
 header ul{
  display: flex;
}
.navbar a{
    font-weight: 600;
    Font-size: 17px;
    color:#339B76;
    transition: 0.3s;
    z-index: 2;
}
.navbar ul li:not(:last-child){
    margin-right: 25px;
}
.navbar li:hover,
.navbar .active{
    color: #000000 !important;
    background-color: #c9d935;
    border-radius: 50px;
}
  @media (max-width: 991px) {
    header .navbar button{
      background-color: #339B76;
      border-radius: 50px;
    }
  }  */
  

header ul{
  display: flex;
  text-decoration: none;
  margin-top: 20px;
}


  header {
    color: #fff;
    position: relative;
    z-index: 999;
    /* position: absolute; */
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid #eaeceb;
  padding:10px 10px;
  }
  .logo img {
    width: 170px;
 /* margin: 14px 0;
    margin-right: 30px; */
    /* margin-top: 20px; */
  }
 
  .navbar ul li:not(:last-child){
    margin-right: 40px;
}
  i{
    color: #000000;
  }
 
  header button {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .toggle {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    header nav .flexSB {
      display: none;
    }
    .account {
      display: none;
    }
    .navMenu-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left:0;
      background-color: #fff;
      width: 100%;
      height: 100vh;
      /* z-index: 9999; */
    }
    header ul li{
      align-items: left;
      margin-top: 30px;
      padding: 0 50px;
    }
    .toggle {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto;
      cursor: pointer;
      background: none;
      border: none;
      z-index: 999;
      font-size: 25px;
    }
   
  }
  .navbar li a{
    font-weight: 600;
    Font-size: 17px;
   
    transition: 0.3s;
    z-index: 2;
    color: #000000;
   
}

.navbar li:hover,
.navbar .active{
  color: #339B76 !important;
  /* background-color: #c9d935;
  border-radius: 50px; */
} 
/* li{
  margin-right: 20px;
}  */